<div class="container mt-3">
  <div class="row">
    <!-- search bar -->
    <div class="row col-md-10 col-12 mx-auto justify-content-between">
      <form action=" /search">
        <div class="input-group" style="width: 50vw;">
          <input type="text" name="keyword" class="form-control col-3" placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..." value="{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      {{!-- 序列sort --}}
      <div class="dropdown text-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          餐廳排序
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a class="dropdown-item" href="/?sort=a" value="name">新增順序(新->舊)</a>
          <a class="dropdown-item" href="/?sort=z" value="name">新增順序(舊->新)</a>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- restaurant list -->
<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">

        {{#each restaurants}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <div class="card-body pt-0 d-flex justify-content-end align-items-center">
              </div>

              <div class="card-footer  d-flex justify-content-end align-items-center p-1">
                <a href="/restaurants/{{ this._id }}/edit" class="btn"><i class="fas fa-lg fa-edit"></i></a>
                <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST">
                  <button type="submit" class="btn"><i class="fas fa-lg fa-trash-alt"></i></button>
                </form>
              </div>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>